@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-white scroll-smooth;
  font-family: Vazirmatn;
}
body {
  @apply bg-darkBlue;
  background-image: url("/BackgroundShapes.svg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top;
}

.text-gradient {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(65deg, #f3d693, #e68895, #6551d4);
}
